@media screen and (max-width: 800px) {
  #wrap {
    width: 100%;
  }
  .main {
    position: relative;
  }
  .main .mw1 {
    width: 100%;
    font-size: 10.5vw;
  }
  .main .mw2 {
    width: 100%;
    font-size: 10.5vw;
  }
  .roulette {
    width: 100%;
    height: auto;
    margin-top: -50px;
  }
  .roulette img.niddle {
    width: 21px;
    transform: translateY(50px);
  }
  .roulette img.roul {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
  .roulette img.start {
    width: 23%;
    display: block;
    margin: 0 auto;
    transform: translateY(-213%);
  }
  .roulette h3 span {
    color: #fd0031;
  }
  .ticket {
    width: 61%;
    font-size: 4vw;
    margin: -20% auto 0;
  }
  

  .caution {
    width: 95%;
    font-size: 20px;
    margin: 40px auto 0;
    padding-bottom: 60px;
  }
  .caution p span {
    color: #fd0031;
  }
  .status fieldset,
  .status fieldset.field1,
  .status fieldset.field2 { width:75%; height:90px;} 

  .status fieldset legend {
    font-size: 3vw;
  }
  .roulette {
    margin-top: -53px;
  }
  .firstQ1 {
    line-height: 2;
  }

}
@media screen and (max-width: 481px) {
  
  .main .ev {
    font-size: 4vw;
    padding-right: 50px;
  }
  .ticket {
    font-size: 4.5vw;
  }
  .status fieldset {
    height: 65px;
    border-radius: 20px/20px;
    border: 3px solid #000;

  }

  .status fieldset,
  .status fieldset.field1,
  .status fieldset.field2 { width:90%; } 

  .status fieldset.field1,
  .status fieldset.field2 {
    height: 75px;
    border-radius: 20px/20px;
    border: 3px solid #000;
  }
  .status fieldset legend {
    width: 82%;
    font-size: 3vw;
  }
  .firstQ1 {
    line-height: 1.7;
  }
  .firstQ1, .firstQ2, .firstQ3 {
    font-size:1rem;
  }
  .firstQ2, .firstQ3 {
    line-height: 6.2;
  }

  .main .mw1 {
    -webkit-text-stroke: 11px #fd0031;
  }
  .caution {
    font-size: 1rem;
  }

  .status fieldset .or {
    top: 76%;
    width: 50px;
    height: 16px;
    font-size: 10px;
    line-height: 1.5;
}
.status fieldset.field1 .or1 {
  top: 90%;
  width: 50px;
  height: 16px;
  font-size: 10px;
  line-height: 1.5;
}
}

@media screen and (max-width: 400px){
  div.pop1 div.popUp, div.pop2 div.popUp  {
    width: 320px; height:280px;
  }
  div.pop1 div.popUp h1 {
    font-size: 45px;
    margin-top: 40px;
  }
  div.pop1 div.popUp p {
    font-size: 55px;
  }
  div.pop1 div.popUp h3 {
    font-size: 40px;
    margin-top: 10px;
  }
  div.pop2 div.popUp h1 {
    font-size: 35px;
  }

  div.pop2 div.popUp h3 {
    font-size: 25px;
  }
  .status fieldset legend {
    width: 80%;
    font-size: 0.5rem;
  }
  .status fieldset,
  .status fieldset.field1,
  .status fieldset.field2 { width:90%; }
}