<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.myZzim">
	<!-- fn_SQL_Answer_ZzimCheck -->
	<!-- userSeq 는 Session 정보임 -->
	<select id="getMyZzim" resultType="myZzim">
		SELECT * FROM T_MYZZIM 
		WHERE MemberSeq = #{userSeq} AND QuestionSeq = #{questionSeq}
	</select>
	
	<!-- fn_SQL_Zzim_List -->
	<!-- userSeq 는 Session 정보임 -->
	<select id="getZzimListCount" resultType="int">
		SELECT 
			COUNT(Seq) 
		FROM V_ZZIMQUESTION 
		WHERE FlagUse = 'Y' AND MemberSeq = #{userSeq}
		<if test="section1 != '0'">
			AND Section1 = #{section1} 
		</if>
	</select>
	<!-- fn_SQL_Zzim_List -->
	<select id="getZzimListLimit" resultType="myZzim">
		SELECT 
			TOP #{p_Option} Seq, MemberSeq, QuestionSeq, Section1, Title, Contents, Almoney, FlagUse, ReadCount, DateReg, AnswerCount 
		FROM V_ZZIMQUESTION 
		WHERE FlagUse = 'Y' AND MemberSeq = #{userSeq}
		<if test="section1 != '0'">
			AND Section1 = #{section1} 
		</if>
		ORDER BY #{psrc_Cond} DESC
	</select>
	<!-- fn_SQL_Zzim_List -->
	<select id="getZzimListAll" resultType="myZzim">
		SELECT 
			Seq, MemberSeq, QuestionSeq, Section1, Title, Contents, Almoney, FlagUse, ReadCount, DateReg, AnswerCount 
		FROM V_ZZIMQUESTION 
		WHERE FlagUse = 'Y' AND MemberSeq = #{userSeq}
		<if test="section1 != '0'">
			AND Section1 = #{section1} 
		</if>
		ORDER BY #{psrc_Cond} DESC
	</select>
	
	<select id="getAnswerZimChk" resultType="int">
		SELECT 
			count(*) 
		FROM 
			T_MYZZIM
		WHERE
			MemberSeq = #{userSeq} and  QuestionSeq = #{questionSeq}
	</select>
	
	<!-- fn_SQL_Answer_Zzim -->
	<insert id="setAnswerZzim">
		INSERT INTO T_MYZZIM (MemberSeq, QuestionSeq) VALUES ( 
			#{userSeq},
			#{questionSeq}
		)
	</insert>
	
	<!-- fn_SQL_Zzim_Del -->
	<!-- userSeq sms Session 정보임 -->
	<delete id="deleteZzim">
		DELETE 
		FROM T_MYZZIM 
		WHERE QuestionSeq = #{questionSeq} AND MemberSeq = #{userSeq}
	</delete>
</mapper>