@charset "utf-8";

html,
body {
  height: 100%;
}
#wrap {
  height: 100%;
}

/* almoney */
.main_header > div {
  float: left;
  margin-left: 20px;
  height: 60px;
  padding-top: 20px;
  transition: all 0.3s;
}
.main_header > div h4 {
  float: left;
  font-weight: 300;
  font-size: 12px;
  height: 18px;
  border: 1px solid #333;
  padding: 1px 8px;
  text-align: center;
  line-height: 14px;
  border-radius: 9px;
}
.main_header > div p {
  float: left;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
  margin-top: 1px;
}
.main_header > div p span {
  display: inline-block;
}
.main_header > div p span:first-child {
  font-weight: bold;
}
/**/
.header_almoney_my {
  display: block;
}
/* 로그아웃 상태 dispaly none */

/* login, join  */
header nav {
  display: none;
}
/* 로그아웃 상태 display block */
.header_join {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.header_join ul {
  height: 25px;
  border: 1px solid #333;
  border-radius: 15px;
  background: #aaa;
}
.header_join ul li {
  float: left;
  height: 100%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-radius: 12px;
  margin-left: -1px;
  background: #fff;
}
.header_join ul li:last-child {
  border: 0;
  background: transparent;
}
.header_join ul li a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 20px;
  padding: 1px 8px;
  font-weight: 500;
}

/* main_logo */
#main_wrapper {
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 0;
}
#main_wrapper .center {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainsearch_container {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.main_logo {
  width: 110px;
}
.main_logo img {
  display: block;
  width: 90px;
  margin: 0 auto;
}
.main_logo figcaption {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 500;
}

/* main_search */
.mainsearch_container form {
  width: 100%;
  height: 90px;
  position: relative;
}
form .mainsearch_inputwrapper {
  width: 75%;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s;
}
form .mainsearch_inputwrapper.wide {
  width: 100%;
}
form input {
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #fd0031;
  border-radius: 39px;
  font-size: 17px;
  outline: none;
}
.mainsearch_inputwrapper a {
  display: block;
  width: 45px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}
.mainsearch_inputwrapper a.trans {
  opacity: 1;
}
.mainsearch_inputwrapper a input {
  display: block;
  width: 100%;
}

form .mainsearch_btnwrapper {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) scaleX(1);
  transform-origin: right center;
  transition: all 0.3s;
}
form .mainsearch_btnwrapper.scale {
  transform: translateY(-50%) scaleX(0);
}
form .mainsearch_btnwrapper ul {
  height: 100%;
}
form .mainsearch_btnwrapper ul li {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
form .mainsearch_btnwrapper ul li:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 55px;
  background: #eaeaea;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
form .mainsearch_btnwrapper ul li span {
  display: block;
  position: relative;
  font-size: 13px;
  margin: 0 auto 5px;
}
form .mainsearch_btnwrapper ul li span:first-child {
  width: 60px;
  height: 60px;
  background: #f6f6f6;
  border-radius: 50%;
}
form .mainsearch_btnwrapper ul li span img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* other_link_btn */
.other_link_btn {
  height: 30px;
  margin-top: 50px;
}
.other_link_btn li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}
.other_link_btn li::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fd0031;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2px;
}
.other_link_btn li:last-child::after {
  display: none;
}
.other_link_btn li a {
  display: block;
  font-weight: 500;
  transition: all 0.3s;
}
.other_link_btn li a:hover {
  color: #fd0031;
}
.other_link_btn li a em {
  color: red;
  font-weight: 700;
  font-size: 0.85em;
}
